/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: bottom; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container:before,
.container:after,
.row:before,
.row:after,
.col:before,
.col:after {
  content: " ";
  display: table; }

.container:after,
.row:after,
.col:after {
  clear: both; }

.container {
  max-width: 1020px;
  margin-right: auto;
  margin-left: auto; }

.col {
  position: relative;
  height: 100%;
  display: inline-block;
  float: left;
  min-height: 1px; }

.col-12 {
  width: 100%; }

.col-11 {
  width: 91.66666666666666%; }

.col-10 {
  width: 83.33333333333334%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66666666666666%; }

.col-7 {
  width: 58.333333333333336%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66666666666667%; }

.col-4 {
  width: 33.33333333333333%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.666666666666664%; }

.col-1 {
  width: 8.333333333333332%; }

@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 400;
  src: url(//t1.daumcdn.net/brunch/static/fonts/common/NanumMyeongjo_LW_R.eot);
  src: url(//t1.daumcdn.net/brunch/static/fonts/common/NanumMyeongjo_LW_R.eot?#iefix) format("embedded-opentype"), url(//t1.daumcdn.net/brunch/static/fonts/common/NanumMyeongjo_LW_R.woff2) format("woff2"), url(//t1.daumcdn.net/brunch/static/fonts/common/NanumMyeongjo_LW_R.woff) format("woff"), url(//t1.daumcdn.net/brunch/static/fonts/common/NanumMyeongjo_LW_R.ttf) format("truetype"); }
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 600;
  src: url(//t1.daumcdn.net/brunch/static/fonts/common/NanumMyeongjo-Bold.eot);
  src: url(//t1.daumcdn.net/brunch/static/fonts/common/NanumMyeongjo-Bold.eot?#iefix) format("embedded-opentype"), url(//t1.daumcdn.net/brunch/static/fonts/common/NanumMyeongjo-Bold.woff2) format("woff2"), url(//t1.daumcdn.net/brunch/static/fonts/common/NanumMyeongjo-Bold.woff) format("woff"), url(//t1.daumcdn.net/brunch/static/fonts/common/NanumMyeongjo-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 700;
  src: url(//t1.daumcdn.net/brunch/static/fonts/common/NanumMyeongjo-ExtraBold.eot);
  src: url(//t1.daumcdn.net/brunch/static/fonts/common/NanumMyeongjo-ExtraBold.eot?#iefix) format("embedded-opentype"), url(//t1.daumcdn.net/brunch/static/fonts/common/NanumMyeongjo-ExtraBold.woff2) format("woff2"), url(//t1.daumcdn.net/brunch/static/fonts/common/NanumMyeongjo-ExtraBold.woff) format("woff"), url(//t1.daumcdn.net/brunch/static/fonts/common/NanumMyeongjo-ExtraBold.ttf) format("truetype"); }
body {
  font-family: 'Nanum Myeongjo', Sans-serif;
  font-size: 16px;
  letter-spacing: -.015em;
  word-spacing: .09em;
  word-break: keep-all; }

h1 {
  font-weight: 700;
  font-size: 35px;
  letter-spacing: -.03em; }

h2 {
  font-weight: 700;
  font-size: 35px;
  letter-spacing: -.03em; }

h3 {
  font-weight: 100;
  font-size: 30px;
  letter-spacing: -.02em;
  color: white; }

h4 {
  font-weight: 100;
  font-size: 20px; }

h5 {
  font-weight: 100;
  font-size: 10px; }

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.65em; }

/*# sourceMappingURL=default.css.map */
